/* 6B4088 purple */
/* FBFAFF white */

/* open-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/open-sans-v35-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('./fonts/open-sans-v35-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* open-sans-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/open-sans-v35-latin-600.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('./fonts/open-sans-v35-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6b4088;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #6b4088;
	background-color: #fbfaff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
}

h1 {
	font-size: 26px;
	font-weight: 600;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	margin-top: -5px;
}

h3 {
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 12px;
	line-height: 140%;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
}

.img-daniel {
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 10%;
	box-shadow: 1.1px 0.9px 0.6px rgba(0, 0, 0, 0.022), 2.6px 2.1px 1.5px rgba(0, 0, 0, 0.032), 4.9px 4px 2.9px rgba(0, 0, 0, 0.04),
		8.7px 7.1px 5.1px rgba(0, 0, 0, 0.048), 16.3px 13.4px 9.6px rgba(0, 0, 0, 0.058), 39px 32px 23px rgba(0, 0, 0, 0.08);
}

.img-el {
	width: 300px;
	height: 300px;
	margin-top: 40px;
}

.wrapper {
	width: 100%;
	padding: 20px 20px;
	max-width: 390px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper-imprint {
	width: 100%;
	padding: 20px 20px;
	max-width: 390px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper-desktop {
	display: none;
	min-width: 500px;
	box-shadow: 1.1px 0.9px 0.6px rgba(0, 0, 0, 0.022), 2.6px 2.1px 1.5px rgba(0, 0, 0, 0.032), 4.9px 4px 2.9px rgba(0, 0, 0, 0.04),
		8.7px 7.1px 5.1px rgba(0, 0, 0, 0.048), 16.3px 13.4px 9.6px rgba(0, 0, 0, 0.058), 39px 32px 23px rgba(0, 0, 0, 0.08);
	border-radius: 40px;
}

.contact {
	margin-top: 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 140%;
	font-weight: 600;
}

@media (min-width: 1280px) {
	h1 {
		font-size: 32px;
	}

	.wrapper {
		display: none;
	}

	.wrapper-desktop {
		display: flex;
		align-items: center;
		padding: 50px;
	}

	body {
		align-items: center;
		justify-content: center;
		text-align: left;
		height: 100vh;
	}

	.body-imprint {
		justify-content: flex-start;
	}

	.img-daniel {
		border-radius: 0;
		margin: 0;
		box-shadow: none;
	}

	.img-el {
		width: 365px;
		height: 365px;
		margin-left: 50px;
	}

	.text {
		height: 360px;
		padding-top: 22px;
		width: 310px;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.contact {
		margin-top: 0;
	}
}
